
        <tr class="{rowclass}">
          <td colspan="2">
            <table border="0" cellpadding="1" cellspacing="0">
              <tr valign="top">
                <td class="index">{txt_ip_address}&nbsp;</td>
                <td>&nbsp;</td>
                <td>{ip_address}&nbsp;</td>
              </tr>
              <tr valign="top">
                <td class="index">{txt_hostname}&nbsp;</td>
                <td>&nbsp;</td>
                <td>{hostname}&nbsp;</td>
              </tr>
              <tr valign="top">
                <td class="index">{txt_user_agent}&nbsp;</td>
                <td>&nbsp;</td>
                <td>{user_agent}&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="{rowclass}">
          <td colspan="2" align="right" class="adminbuttons">
            <a href="./edit.php?id={id}&offset={offset}">{txt_edit_entry}</a> &nbsp;&nbsp; &nbsp;&nbsp; <a href="./delete.php?id={id}&offset={offset}">{txt_delete_entry}</a>
          </td>
        </tr>