
      <table border="0">
        <tr>
          <td>{label:%name%}*</td>
          <td>{field:%name%}</td>
        </tr>
        <tr>
          <td>{label:%homepage%}</td>
          <td>{field:%homepage%}</td>
        </tr>
        <tr valign="top">
          <td>{label:%comment%}*&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>{field:%comment%}</td>
        </tr>
        <tr>
          <td>{label:%newsletter%}</td>
          <td>{field:%newsletter%}</td>
        </tr>
        <tr>
          <td>{label:%color%}</td>
          <td>{field:%color%}</td>
        </tr>
        <tr valign="top">
          <td>{label:%fruit%}</td>
          <td>{field:%fruit%}</td>
        </tr>
       </table>

       <p>
         * = {txt_mandatory_fields}
       </p>